[user]
	name = Kyle Goggin
	email = kyle@kylegoggin.com
[alias]
	undo = reset --soft HEAD^
	cleanup = !git remote prune origin && git branch --merged | egrep -v '(^\\*|main|develop)' | xargs git branch -d
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[init]
	defaultBranch = main
